<section class="messenger">
		<div class="container-fluid container-fluid-plain">
			<div class="row no-gutters">
				<div class="col-lg-3">
					<div class="helpness1">
						<div class="chats">
							<h4 class="chats__title">
								Chats
							</h4>
							<input type="text" name="search" class="search" placeholder="Search conversation..">
						</div>
						<div class="friends">
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Victor Mychailenko
										</h5>
										<p class="friend__text">
											<span>
												Victor:	
											</span>
											Как дела ?
										</p>
									</div>
								</div>
							</div>	
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Rostyslav Ostapiuk
										</h5>
										<p class="friend__text">
											<span>
												You:	
											</span>
											Привiт друже
										</p>
									</div>
								</div>
							</div>	
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Thomas Muller
										</h5>
										<p class="friend__text">
											<span>
												Thomas:	
											</span>
											Wie heiss du
										</p>
									</div>
								</div>
							</div>	
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Gianfranko Zola
										</h5>
										<p class="friend__text">
											<span>
												You:	
											</span>
											What are you doing bro?
										</p>
									</div>
								</div>
							</div>	
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Jan Kowalski
										</h5>
										<p class="friend__text">
											<span>
												You:	
											</span>
											Siema
										</p>
									</div>
								</div>
							</div>	
							<div class="friend__item">
								<div class="helpness d-flex">
									<img src="../../assets/img/avatar.jpg" alt="Ros" class="friend__img">
									<div class="friends__help">
										<h5 class="friend__name">
											Douglas Costa
										</h5>
										<p class="friend__text">
											<span>
												Douglas:	
											</span>
											Ola amigo
										</p>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="conversation">
						<div class="conversation__info">
							<div class="helpness helpness2 d-flex">
								<img src="../../assets/img/avatar.jpg" alt="Ros" class="conversation__img">
								<div class="friends__help">
									<h5 class="conversation__name">
										Victor Mychailenko
									</h5>
									<p class="conversation__status">
										Offline
									</p>
								</div>
							</div>
						</div>
						<div class="messages">
						</div>
						<div class="enter-message">	
							<input type="text" placeholder="Write a message.." class="myinput">
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="prifile">
						<div class="profile__info">
							<img src="../../assets/img/avatar.jpg" alt="Ros" class="profile__img">
							<h5 class="profile__name">
								Victor Mychailenko
							</h5>
							<p class="conversation__status">
								Offline
							</p>
							<p class="profile__languages">
								Ukrainian, Russian, English
							</p>
							<div class="profile__description">
								Меня зовут Витя, мне 23 года, хочу научится Польскому языку, и по возможности кого-то научить русскому. Увлекаюсь футболом, автогонками и люблю путешествовать.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>