/*-------Specification--------*/
p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
	color: rgba(143, 186, 255, 1);
}

a { 
	color: #000;
}

button, input {
	transition: all 0.7s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
	{
		outline: none;
}

.footer {
	background: #325dff;
	padding: 40px 0;
	color: #fff;
	text-align: center;
}

.footer-logo {
	color: #fff;
	font-size: 26px;
	letter-spacing: 0;
	text-align: left !important;
}

.cooperation__text {
	font-size: 11px;
	color: #fff;
}

.contact-btn {
	display: block;
	height: 35px;
	width: 156px;
	background: transparent;
	color: #fff;
	border-radius: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	border:1px solid #fff;
	margin-left: auto;
}

.contact-btn:hover {
	background: #fff;
	color: #325dff;
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 20px 0;
	}

	.footer__logo {
		text-align: center;
	}

	.contact-btn {
		margin: 20px auto;
	}

	.cooperation__first {
		padding-top: 20px;
	}
}

@media screen and (max-width: 576px) {
	.cooperation {
		padding-bottom: 20px;
	}

	.contact-btn {
		margin: 0 auto;
	}
}