<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 text-left">
					<a _ngcontent-c1="" class="navbar-brand footer-logo" href="#">				LanguageApp
					</a>
				</div>
				<div class="col-lg-3">
					<div class="cooperation">
						<p class="cooperation__text">
							Do you want to cooperate with us ?
						</p>
						<p class="cooperation__text">
							Have you any ideas ?
						</p>
						<p class="cooperation__text">
							Contact us right now !
						</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="cooperation">
						<a class="cooperation__text " href="#">
							LanguageApp.com
						</a>
						<p class="cooperation__text">
							31-154, Cracow, Pawia 5 str.
						</p>
						<p class="cooperation__text">
							Copyright 2019. All Rights Reserved.
						</p>
					</div>
				</div>
				<div class="col-lg-3">
					<a href="#" class=" btn contact-btn"> 
						Contact us
					</a>
				</div>
			</div>
		</div>
	</footer>