<section class="contacts">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 col-lg-6">
					<div class="something">
						<h2 class="contacts__title">
							Contacts
						</h2>
					</div>
				</div>
				<div class="col-md-8 col-lg-6">
					<div class="something">
						<p class="contacts__text">
							The site is free and open to anyone looking to practice a with a native speaker in exchange for help with their own. Once registered, users can search for speaking partners via the Profile Search or submit a short writing piece and ask for corrections from native speakers. Those using the writing function are asked to return the favor by correcting short samples in their native language.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="maps">
		<div class="container-fluid container-fluid-plain">
			<div class="row no-gutters">
				<div class="col">
					<agm-map [latitude]="lat" [zoom]="14" [longitude]="lng">
					  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
	</section>
	<section class="infomap" id="infomap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto">
				<div class="informer">
					<div class="informer__table">
						<div class="informer__help">
							<div class="informer__title d-flex justify-content-between flex-column flex-sm-row">
								<h4 class="informer__main">
									LanguageApp
								</h4>
								<div class="informer__social d-flex justify-content-between">
									<a href="https://www.facebook.com/" class="informer__link" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="https://trello.com/b/LLmmJm20/spa-frontend" class="informer__link" target="_blank">
										<i class="fa fa-trello"></i>
									</a>
									<a href="https://github.com/Resserr/LanguageApp-SPA" target="_blank" class="informer__link">
										<i class="fa fa-github-square"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="informer__info d-flex">
							<div class="informer__contacts">
								<div class="informer__tel">	
									<i class="fa fa-phone"></i>
									+48 534 230-966
								</div>
								<div class="informer__tel">	
									<i class="fa fa-phone"></i>
									+48 534 230-966
								</div>
								<div class="informer__location">
									<i class="fa fa-location-arrow"></i>
										31-154
									<p class="informer__text">
										Cracow
									</p>
									<p class="informer__text">
										Pawia 5 str.
									</p>
								</div>
								<div class="informer__mail">
									<p class="informer__e-mail">
										<i class="fa fa-envelope"></i>
										info@languageapp.com
									</p>
								</div>
							</div>
							<div class="informer__about">
								<p class="informer__desc">
									Our guidelines are very simple. Members are here to practice a language (this is an educational site, not a dating site)
								</p><br>
								<p class="informer__desc">
									And they agree to be respectful and courteous to all users at all times. Welcome to our community where everyone is both teacher and learner.
								</p>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>			