<section class="title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="main__title">
					LanguageApp
				</h1>
			</div>
		</div>
	</div>
	</section>
	<section class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h2 class="about-us__title">
						Meet LanguageApp
					</h2>
					<div class="about-allus">
						<p class="about__text">
							The site is free and open to anyone looking to practice a with a native speaker in exchange for help with their own. Once registered, users can search for speaking partners via the Profile Search or submit a short writing piece and ask for corrections from native speakers. Those using the writing function are asked to return the favor by correcting short samples in their native language.
						</p>
						<p class="about__text">
							Our guidelines are very simple. Members are here to practice a language (this is an educational site, not a dating site), and they agree to be respectful and courteous to all users at all times. Welcome to our community where everyone is both teacher and learner.
						</p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="about-img">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/1.jpg?alt=media&token=59c359da-70f4-41b3-b7ef-85af24d9fcb6" alt="1">
					</div>
				</div>
				<div class="col-12">
					<div class="similar">
						<p class="similar__text">
							Do you want to create the similar website? You can download our prototyype and try to do it by yourself!
						</p>
						<a href="https://shared-assets.adobe.com/link/08afda8f-f5cd-4ff2-6538-43f62776ced3" target="_blank" class="similar__link">try to do it!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="mission">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/3.jpg?alt=media&token=040b7f16-b288-4e25-bf28-ece1d0468ca6" alt="3" class="speak">
				</div>	
				<div class="col-lg-6">
					<div class="rocket justify-content-md-center d-flex align-items-center">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/4.png?alt=media&token=73498997-83ee-40aa-8d04-6dd5603e1427" alt="4">
						<h2 class="rocket__title">
							Mission, Vision and Plans
						</h2>
					</div>
					<div class="item">
						<h4 class="item__mission">
							Mission
						</h4>
						<p class="item__text">
							To help learning foreing languages as easily as possible
						</p>
					</div>
					<div class="item">
						<h4 class="item__mission">
							Vision
						</h4>
						<p class="item__text">
							Making Language Exchanges Work For YOU! 
						</p>
					</div>
					<div class="item">
						<h4 class="item__mission">
							Plans
						</h4>
						<p class="item__text">
							Share our platform as soon as possible
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="team" id="team">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="team__title">
						Our team
					</h2>
				</div>
				<div class="col-md-6">
					<div class="worker">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/Ros.jpg?alt=media&token=6ca3b5ee-9525-4987-9172-9f2902cb7aa0" alt="Rostyslav" class="port">
						<p class="worker__name">
							Rostyslav Ostapiuk
						</p>
						<p class="worker__place">
							Backend Developer	
						</p>
						<p class="worker__text">
								Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
						</p>
						<div class="worker__social">
							<a href="https://www.facebook.com/profile.php?id=100004618262055" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/facebook.png?alt=media&token=55dcfab1-8a10-4ee4-b33f-ae8a6bfaa647" alt="facebook">
							</a>
							<a href="https://trello.com/rostyslavostapiuk" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/trello.png?alt=media&token=38bd9756-82e3-4acd-8f1c-d5544c2670fd" alt="trello">
							</a>
							<a href="https://github.com/Resserr" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/github.png?alt=media&token=81e00284-cad0-42bc-a398-e536549059d3" alt="github">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="worker">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/vova.jpg?alt=media&token=d1d5c42f-cbaa-44f0-81b8-b56162ebbb81" alt="Vovan" class="port">
						<p class="worker__name">
							Volodymyr Hladchenko
						</p>
						<p class="worker__place">
							Frontend developer
						</p>
						<p class="worker__text">
								Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
						</p>
						<div class="worker__social">
							<a href="https://www.facebook.com/vovan.gladchenko" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/facebook.png?alt=media&token=55dcfab1-8a10-4ee4-b33f-ae8a6bfaa647" alt="facebook">
							</a>
							<a href="https://trello.com/volodymyrhladchenko" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/trello.png?alt=media&token=38bd9756-82e3-4acd-8f1c-d5544c2670fd" alt="trello">
							</a>
							<a href="https://github.com/vovan1710" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/github.png?alt=media&token=81e00284-cad0-42bc-a398-e536549059d3" alt="github">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="worker">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/slavic.jpg?alt=media&token=8e8367f3-c02b-4e64-9aeb-98e81b0b1e49" alt="Slavic" class="port">
						<p class="worker__name">
							Viachyslav Iashchenko
						</p>
						<p class="worker__place">							
							Fullstack developer	
						</p>
						<p class="worker__text">
								Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
						</p>
						<div class="worker__social">
							<a href="https://www.facebook.com/profile.php?id=100013723234817" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/facebook.png?alt=media&token=55dcfab1-8a10-4ee4-b33f-ae8a6bfaa647" alt="facebook">
							</a>
							<a href="https://trello.com/viacheslav166" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/trello.png?alt=media&token=38bd9756-82e3-4acd-8f1c-d5544c2670fd" alt="trello">
							</a>
							<a href="https://github.com/slawick12" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/github.png?alt=media&token=81e00284-cad0-42bc-a398-e536549059d3" alt="github">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="worker">
						<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/Illia.jpg?alt=media&token=2fbab5e1-5f6e-4349-b154-39706a1cb5fd" alt="Illia" class="port">
						<p class="worker__name">
							Illia Heria
						</p>
						<p class="worker__place">
							Frontend developer, Design	
						</p>
						<p class="worker__text">
								Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
						</p>
						<div class="worker__social">
							<a href="https://www.facebook.com/illia.heria"target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/facebook.png?alt=media&token=55dcfab1-8a10-4ee4-b33f-ae8a6bfaa647" alt="facebook">
							</a>
							<a href="https://trello.com/illia97" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/trello.png?alt=media&token=38bd9756-82e3-4acd-8f1c-d5544c2670fd" alt="trello">
							</a>
							<a href="https://github.com/illyagerya" target="_blank">
								<img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/github.png?alt=media&token=81e00284-cad0-42bc-a398-e536549059d3" alt="github">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>