<nav class="navbar navbar-expand-md navbar-light bg-light font-weight-bold">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LanguageApp</a>
    <ul class="navbar-nav ml-auto scalable">
      <li *ngIf="!logedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['']" >Home</a>
      </li>
      <li *ngIf="logedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/news']" >News</a>
      </li>
      <li *ngIf="logedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/members']">Find friends</a>
      </li>
      <li *ngIf="logedIn()" class="nav-item">
        <a class="nav-link"href="#" >Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
    <div *ngIf="logedIn()" class="dropdown ml-5" dropdown>
      <a class="dropdown-toggle scalable pointer" dropdownToggle (click)="false">
        Welcome {{authService.decodedToken.email | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item nav-link" [routerLink]="['/profile/edit']"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" (click)="logout()" ><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
    <ul *ngIf="!logedIn()" class="navbar-nav scalable ml-5">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>