.scalable li a:hover {
  transform: scale(1.1, 1.1);
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
} 
.dropdown-item {
  cursor: pointer;
}
#navbar1{
  text-align: right;
  margin-right: 20px;
}