<nav class="navbar navbar-expand-md navbar-light font-weight-bold">
  <div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" href="login">
        <img src="../../assets/img/logo.png" width="100" height="100" alt="">
      </a>
    </nav>
    <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
      </button>
    <!-- collapse navbar -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/news']">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''">Find friends</a>
        </li>
        <hr my-5>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
      <div *ngIf="logedIn()" class="dropdown ml-5" dropdown>
        <a class="dropdown-toggle scalable pointer" dropdownToggle (click)="false">
            Welcome {{authService.decodedToken.email | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item nav-link" href="#"><i class="fa fa-user"></i> Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link" href="#"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </div>
    <ul *ngIf="!logedIn()" class="navbar-nav scalable ml-5">
        <li class="nav-item" routerLinkActive="router-link-active">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
