 <!--Navbar-->

 <nav class="navbar navbar-expand-lg fixed-top  scrolling-navbar">
  <div class="container">
      <a href="#" class="navbar-brand "><strong>BRAND</strong>
      </a>

      <!-- Collapse button -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
          <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
      </button>

      <!-- Collapsible content -->

      <div class="collapse navbar-collapse md-4 " id="navbarContent [ngClass]="{ 'show': navbarOpen }">

          <!-- Links -->

          <ul class="navbar-nav mr-auto md-3 lg-auto  smooth-scroll">
              <li class="nav-item active">
                  <a href="#" class="nav-link"><i class="fas fa-home"></i> HOME <span class="sr-only">(current)</span></a>
              </li>

              <div class="w-100">
                  <hr class="my-1 md-display-none">
              </div>
              <li class="nav-item ">
                  <a href="#" class="nav-link"><i class="fas fa-user-plus "></i> Sign up</a>
              </li>
              <li class="nav-item ">
                  <a href="#" class="nav-link"><i class="fas fa-sign-in-alt"></i> Log in</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<!--Navbar-->