<div class="main">
  <div class="container-fluid ">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-10 mt-5 mb-5 text-center pl-4 pr-4 align-items-center mt-10">
        <h1> <strong>{{title}}</strong></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-xl-6 img ">
        <img src="{{img}}" width="80%" />
      </div>
      <div class="col-sm-6 ">
        <p>{{content_1}}</p>
        
      </div>
      <div class="col-sm-10">
        <p>{{content_2}}</p>
      </div>
    </div>
  </div>
</div>
