<div class="main">
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="card-body">
          <h4 class="card-title">Top 5 online English translators</h4>
          <p class="card-text">
            In the modern world, we simply need to be able to communicate
            in different languages, to translate documents or artistic texts.
            Also, for those who are learning a language, it’s just a necessary vocabulary.
            But the use of …
          </p>
          <img class="card-img d-md-none d-block" src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/news_1.png?alt=media&token=fa6bb962-4f91-4bcb-8076-6f4935e9ef7a" alt="">
          <a [routerLink]="['/about']" class="card-button">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <img class="card-img d-none d-md-block" src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/news_1.png?alt=media&token=fa6bb962-4f91-4bcb-8076-6f4935e9ef7a" alt="">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
      <img class="card-img d-none d-md-block" src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/news_2.png?alt=media&token=f8ee39bc-4d59-43d1-a0ba-7f19d826abf7" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
      <div class="card-body center-block">
        <h4 class="card-title">Layfhaks that will help you to easily learn any language</h4>
        <p class="card-text">
          If you want to learn the language quickly and easily - you must know what the
          verbal-logical and pictorial technique is, what role does the study play for
          systematics and gymnastics for the eyes and why it is important to remember
          the principle of the spiral.
        </p>
        <img class="card-img d-md-none d-block" src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/news_2.png?alt=media&token=f8ee39bc-4d59-43d1-a0ba-7f19d826abf7" alt="">
        <a [routerLink]="['/about']" class="card-button">READ MORE</a>
      </div>
    </div>
  </div>
</div>
