<div class="main">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-sm-12 text-center">
        <div class="card-body">
          <h4 class="card-title">How to quickly learn a foreign language</h4>
          <p class="card-text">
            Imagine that you have found the work of your dreams abroad. But there is a problem: you do not know the
            language, and time is not on your side.
            Mission is not feasible? No, linguists say that the necessary communication skills in a foreign language can
            be obtained in a week, and to master the basic level of any language - in just a few months.
          </p>
          <a  class="card-button" [routerLink]="['/article', 'NP1k5N3fqLrQ3czaCC3N']" routerLinkActive="router-link-active">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <img class="card-img" src="../../assets/img/news_1.png" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-6 ">
      <img class="card-img" src="../../assets/img/news_2.png" alt="">
    </div>
    <div class="col-lg-6 col-sm-12 text-center">
      <div class="card-body center-block">
        <h4 class="card-title">Travelling improves your language skills</h4>
        <p class="card-text">
          Travelling is probably the best way to improve your language skills. 
          Go visit a country speaking the foreign language you’re interested in learning. 
          Try to travel alone, so that it can be your chance to learn to get by on your own.
           Meet new people speaking the language that you’re studying. Enjoy a multi-cultural
            experience mingling with people of other nationalities, try not to spend your time only 
            with people from your own country. You should join a club or go to bars where foreigners 
            hang out. In this way, you’ll be forced to talk with them in a foreign language. 
        </p>
        <a [routerLink]="['/article', 'SFT16cSXIvfpIvbVZ3k4']" routerLinkActive="router-link-active" class="card-button">READ MORE</a>
      </div>
    </div>
  </div>
</div>
