<div class="main">
  <section>
    <div class="container">
      <div class="row">
        <div class="info col-lg-7">
          <div class="container">
            <h2>{{user.name}} {{user.surname}}</h2>
            <div class="row">
              <div class="av col-lg-5">
                <img class="avatar " src="{{user.photoUrl}}" alt="{{user.name}}">
              </div>
              <div class="main_info col-lg-7 ">
                <div class="d-flex justify-content-start">
                  <!-- <p>21 y.o.</p> -->
                  <span class="d-flex">
                    <i class="fa fa-map-marker fa-lg pr-2" aria-hidden="true"></i>
                    <p><span class="location"> {{user.country}} </span></p>
                  </span>
                </div>
                <span class="d-flex">
                  <i class="fa fa-check-square icons"></i>
                  <p>Known languages: <span class="languages"> {{user.knownLanguages}} </span></p>
                </span>
                <span class="d-flex">
                  <i class="fa fa-graduation-cap icons"></i>
                  <p>I want to learn: <span class="languages"> {{user.wantedLanguages}} </span></p>
                </span>
              </div>
            </div>
            <div class="about">
              <h4>About me:</h4>
              <p><span class="about_description"> {{user.introduction}} </span></p>
            </div>
            <div class="countries">
              <span class="d-flex">
                <i class="fa fa-flag icons"></i>
                <p>I visited: <span class="v_countries"> Ukraine, Brazil, Russia</span></p>
              </span>
              <span class="d-flex">
                <i class="fa fa-flag icons"></i>
                <p>I want to visit: <span class="w_countries"> England, Poland</span></p>
              </span>
            </div>


          </div>
        </div>
        <div class="offset col-lg-2"></div>
        <div class="data col-lg-3">
          <h2>Contact</h2>
          <span class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary">Invite to friends</button>
            <i class="fa fa-users icons2"></i>
          </span>
          <span class="d-flex main_data">
            <i class="fa fa-envelope icons"></i>
            <p>Email: <span class="email">{{user.email}}</span></p>
          </span>
          <span class="d-flex">
            <i class="fa fa-facebook icons"></i>
            <p><span class="fb">Facebook</span></p>
          </span>
          <span class="d-flex">
            <i class="fa fa-instagram icons"></i>
            <p><span class="fb">Instagram</span></p>
          </span>
          <button type="button" class="btn btn-info chat_btn">Chat</button>
          <div class="opinions">
            <h4>Opinions</h4>
            <span class="d-flex justify-content-around">
              <i class="fa fa-thumbs-up icons3" (click)="modifyLike()"></i>
              <p><span class="good">{{user.likes}}</span></p>
              <i class="fa fa-thumbs-down icons3" (click)="modifyDislike()"></i>
              <p><span class="bad">{{user.dislikes}}</span></p>
            </span>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>