<div class="main">
  <div class="view full-page-intro">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-10 mt-5 mb-5 text-center pl-4 pr-4 align-items-center mt-10 help1">
          <strong>Making Language Exchanges <br />
            Work For YOU!
          </strong>
          <br /><br />
          <p>Practice languages with native speakers</p>
          <br /><br />
          <a href="" class="btn-2 btn-lg " [routerLink]="['/login']" routerLinkActive="router-link-active" >START LEARN NOW</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-exchange card">
    <div class="d-flex justify-content-center">
      <div class="col-lg-7 col-sm-9 px-0">
        <div class="card-text">
          <h5 class="card-title">What is a language exchange?</h5>
          <p class="card-text">
            Two or more people who speak different languages practicing each
            other’s language. For example, an English speaker who is learning
            French will do a language exchange with a French speaker who is
            learning English. There are many ways to practice in a language
            exchange."
          </p>
        </div>
        <a href="" class="card-button">READ MORE</a>
      </div>
      <div class="col-lg-5 col-sm-9 px-0 d-none d-lg-block">
        <div class="card-image">
          <img
            src="https://images.pexels.com/photos/1549280/pexels-photo-1549280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="section find-title">
    <div class="d-flex justify-content-center align-items-center text-center mt-4">
      <div class="col-lg-10">
        <h5 class="card-title">FIND AN EXCHANGE PARTNER</h5>
        <p class="card-text">
          Finding a language learning partner couldn’t be easier. Just log in,
          find someone online who speaks your target language, and invite them
          to chat for free. It’s that simple – your personal language exchange
          meetup app. No need to schedule a time, sign into Skype, or go to a
          meeting.
        </p>
      </div>
    </div>
  </div>
  <div class="section find-card">
    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-1.png?alt=media&token=e038101a-6bcf-4fee-adcf-9bc5e337e40e" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">Funny</h4>
        <p class="card-text">
          It’s fun and you can make new friends from different cultures
        </p>
      </div>
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-2.png?alt=media&token=ecb41401-8bcc-43fb-b484-22136928c677" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">Faster</h4>
        <p class="card-text">
          It’s a very fast and effective language learning method
        </p>
      </div>
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-3.png?alt=media&token=2664df0c-6760-46fd-8eae-309e83d67936" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">It’s free</h4>
        <p class="card-text">
          The platform is completely free, you do not have to pay for registration and use.
        </p>
      </div>
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-4.png?alt=media&token=b208aa33-d7f7-4aad-a8bf-46190de9c62f" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">Not boring</h4>
        <p class="card-text">
          There is no homework or boring grammar books to study
        </p>
      </div>
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-5.png?alt=media&token=42602567-b291-420d-8b9f-1273980d2e6c" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">Practically</h4>
        <p class="card-text">
          You can also practice
          writing and reading,
          exchanging emails with
          your language exchange
          partner
        </p>
      </div>
      <div class="col-lg-4 sm-6">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/languageapp-8a657.appspot.com/o/card-img-6.png?alt=media&token=4a45dfcb-9a87-4f7a-af8a-a549272dc39f" class="justify-content-center" alt="" />
          </div>
        </div>
        <h4 class="card-title">Usefully</h4>
        <p class="card-text">
          You learn slang and colloquial expressions you don’t usually learn in a language class
        </p>
      </div>
    </div>
  </div>
  <section>
  <div class="view full-page-intro_2">
    <div class="container">
      <div class="row justify-content-center join1">
        <div class="col-sm-12 col-lg-12 mt-5 mb-5 text-center align-items-center">
          <strong>JOIN THE COMMUNITY
          </strong>
          <br /><br />
          <p>The worldwide Exchange language partner community is made up of friendly,
            enthusiastic language learners from all across the globe. No matter what
            language you speak, or what language you’re trying to learn, there’s someone
            internationally who wants to help you learn their native language.</p>
          <a href="" class="btn-2 btn-lg">START LEARN NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
